.main {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  min-width: none;
  width: 100vw;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;

  //background a stelle, diminuisci size per più stlle
  background-image:
    radial-gradient(2px 2px at 20px 30px, white, transparent), radial-gradient(1px 1px at 40px 70px, white, transparent),
    radial-gradient(1.5px 1.5px at 90px 40px, white, transparent), radial-gradient(2px 2px at 130px 80px, white, transparent),
    radial-gradient(1px 1px at 160px 120px, white, transparent);
  background-repeat: repeat;
  background-size: 100px 100px;

  &.animate {
    .input-name-form-container {
      opacity: 0;
      position: absolute;
      //z-index: -1;
      //top: -1000px;
    }

    .logo {
      animation: logoSequence 8s ease forwards;
      animation-delay: 1s;
    }

    @keyframes logoSequence {
      0% {
        transform: translate(-0%, 0);
      }

      25% {
        transform: translate(-0%, 40vh);
      }

      40% {
        transform: translate(-0%, 40vh) scale(120%);
      }

      55% {
        transform: translate(-0%, 40vh) scale(70%);
      }

      65% {
        transform: translate(-0%, 40vh) scale(160%);
      }

      75% {
        transform: translate(-120%, 40vh) rotate(360deg);
      }

      90% {
        transform: translate(120%, 0) rotate(-360deg);
      }

      100% {
        transform: translate(0, 0) rotate(0);
      }
    }

    .first-phase-result {
      animation: textFadeIn 2s ease forwards;
      animation-delay: 9s;
      display: block;
      margin-top: 300px;
    }

    @keyframes textFadeIn {
      from {
        opacity: 0;
        height: 0;
      }

      to {
        opacity: 1;
        height: auto;
      }
    }
  }

  .logo {
    width: 250;
    height: 208px;
    position: absolute;
    top: 30px;
  }

  .input-name-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
    transition: all 1s ease;

    .name-instructions {
      text-align: center;
      margin: 16px;
      line-height: 1.5em;
      color: white;
      font-size: large;
      font-weight: bold;
      word-break: break-word;
    }

    .name-input {
      background-color: rgb(173, 151, 194);
      height: 40px;
      width: 70vw;
    }

    .submit-name {
      margin-top: 20px;
      height: 40px;
      width: 30vw;
    }
  }

  .first-phase-result {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    display: none;

    .continue-button {
      padding: 20px 50px;
      margin-top: 24px;
    }
  }

  .phase-1-container {
    width: 100%;
    color: white;

    .explanation {
      margin: 16px;
      font-weight: bold;
      text-align: center;
    }

    .accordion {
      width: 100%;
      margin: 0 auto;
    }

    .accordion-item {
      border-bottom: 1px solid #ddd;
    }

    .accordion-header {
      display: flex;
      justify-content: space-between;
      background-color: rgb(36 42 55 / 67%);
      align-items: center;
      padding: 15px;
      cursor: pointer;
      font-weight: 600;
      transition: background 0.2s ease;
      color: white;

      &.success {
        background-color: rgb(23 129 30 / 43%);
      }

      &.fail {
        background-color: rgb(129 23 23 / 60%);
      }
    }

    .arrow {
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      padding: 0 15px;
      transition:
        max-height 0.3s ease,
        padding 0.3s ease;
      background-color: rgb(79 79 79 / 26%);
      color: white;

      &.open {
        max-height: 2000px;
        /* aumenta se il contenuto è lungo */
        padding: 15px;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          margin: 10px;
          display: block;
          font-size: 1.2em;
        }

        .challenge-expl {
          font-style: italic;
          text-align: center;
          margin: 8px;
        }

        .form-input {
          margin: 10px;
          padding: 10px;
        }

        .confirm-btn {
          padding: 8px 16px;
          margin-top: 6px;
        }

        .challenge-result {
          // font-weight: bold;
          color: #ffb300;
          margin-top: 8px;
          // font-style: italic;
          font-size: 0.8em;
          text-align: center;
        }

        .music-row {
          .toggle-audio-btn {
            padding: 14px;
          }
        }

        .voice-row {
          margin: 8px;
          .toggle-audio-btn {
            padding: 14px;
          }

          .dropdown {
            margin-left: 16px;
            min-width: 120px;
            padding: 6px;
            text-align: center;
            font-weight: bold;
            .ddown-opt {
              color: rebeccapurple;
              font-weight: bold;
            }
          }
        }

        .flag-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 4px;
          margin-top: 4px;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          justify-content: space-between;

          .flag {
            max-width: 100px;
            max-height: 70px;
          }
        }

        &.confirmed {
          //disabilita
          .confirm-btn {
            display: none;
          }

          .challenge-result {
            display: block;
          }
        }
      }
    }
  }

  .phase-2-container {
    color: white;
    padding: 16px;
    font-weight: bold;
    text-align: center;

    .result {
      color: rgb(68, 99, 235);
      font-size: 1.5em;
      display: flex;
      padding: 4px;
      margin: 8px;
      justify-content: center;
    }

    .next-btn {
      padding: 15px;
      margin-top: 16px;
    }

    .medallions-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 16px;
      .medallion {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 800px;

        transform-style: preserve-3d;
        box-shadow:
          inset 0px 0px 4px 0px rgba(255, 255, 255, 0.6),
          0px 0px 20px 2px rgb(214 204 204 / 67%);

        img {
          max-width: 70%;
          max-height: 70%;
          object-fit: contain;
          filter: grayscale(100%);
        }

        &.active {
          animation: medal-spin 7s infinite;
          background: radial-gradient(circle at 30% 30%, #293d9b, #030a33);
          border: 6px solid #5400b3;
        }
      }
    }

    @keyframes medal-spin {
      /* rotazione nei primi 2 secondi */
      0% {
        transform: rotateY(0deg);
      }

      40% {
        transform: rotateY(360deg);
      }

      /* pausa fino a 5 secondi */
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
