.main {
  margin: 0;
  background-color: goldenrod;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .name-instructions{
    text-align: center;
    margin: 16px;
    line-height: 1.5em;
  }

  .input-name-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name-input {
      background-color: rgb(180, 159, 201);
      height: 40px;
      width: 70vw;

    }

    .submit-name {
      margin-top: 20px;
      height: 40px;
      width: 30vw;
    }
  }
}
