/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.name-instructions .highlight {
  color: blueviolet;
}

.name-instructions .highlight2 {
  color: blueviolet;
  font-weight: bold;
}

.name-instructions .highlight3 {
  color: blueviolet;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}